<div class="headerContainer">
  <sbb-title level="4">Challenge Levels</sbb-title>
</div>
<sbb-table-wrapper>
  <table class="sbb-table">
    <thead>
      <tr>
        <th scope="col">Challenge Id</th>
        <th scope="col">Threshold</th>
        <th scope="col">Bonus Score</th>
      </tr>
    </thead>

    <tbody>
      @for (challengeLevel of challengeLevels; track challengeLevel.id) {
        <tr>
          <td>{{ challengeLevel.challenge_id }}</td>
          <td>{{ challengeLevel.threshold }}</td>
          <td>{{ challengeLevel.bonus_score }}</td>
        </tr>
      }
    </tbody>
  </table>
</sbb-table-wrapper>
