<div class="headerContainer">
  <sbb-title level="4">Challenge Levels</sbb-title>
  <div class="actionContainer">
    <sbb-secondary-button routerLink="/challenge-levels/create" size="s" icon-name="circle-plus-small"
    >New Challenge Level</sbb-secondary-button
    >
  </div>
</div>
<sbb-table-wrapper>
  <table class="sbb-table">
    <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
    </thead>

    <tbody>
      @for (challengeLevels of challengeLevels()?.items; track challengeLevels.id) {
        <tr>
          <td>{{ challengeLevels.id }}</td>
        </tr>
      }
    </tbody>
  </table>
</sbb-table-wrapper>
