<div class="headerContainer">
  <sbb-title level="4">Challenges</sbb-title>
  <div class="actionContainer">
    <sbb-secondary-button routerLink="/challenges/create" size="s" icon-name="circle-plus-small"
      >New Challenge</sbb-secondary-button
    >
  </div>
</div>
<sbb-table-wrapper>
  <table class="sbb-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Scoring A</th>
        <th scope="col">Scoring B</th>
        <th scope="col">Scoring C</th>
        <th scope="col">Scoring D</th>
        <th scope="col">Max Count</th>
        <th scope="col">Image Uri</th>
      </tr>
    </thead>

    <tbody>
      @for (challenge of challenges()?.items; track challenge.id) {
        <tr>
          <td>{{ challenge.name }}</td>
          <td
            >
            <sbb-secondary-button
              [routerLink]="'/challenges/edit/' + challenge.id"
              size="s"
            >Edit</sbb-secondary-button
            >
            <sbb-secondary-button
              [routerLink]="'/challenges/' + challenge.id + '/challenge-levels/create'"
              size="s"
              >Add Level</sbb-secondary-button
            ><sbb-secondary-button
              [routerLink]="'/challenges/' + challenge.id + '/challenge-levels'"
              size="s"
              >Show Levels</sbb-secondary-button
            ></td
          >
          <td>{{ challenge.description }}</td>
          <td>{{ challenge.start_date | date }}</td>
          <td>{{ challenge.end_date | date }}</td>
          <td>{{ challenge.scoring_a }}</td>
          <td>{{ challenge.scoring_b }}</td>
          <td>{{ challenge.scoring_c }}</td>
          <td>{{ challenge.scoring_d }}</td>
          <td>{{ challenge.max_count }}</td>
          <td>{{ challenge.image_uri }}</td>
        </tr>
      }
    </tbody>
  </table>
</sbb-table-wrapper>
